function Main.main 0
push constant 8001
push constant 1
call Memory.poke 2
pop temp 0
push constant 8002
push constant 1
call Memory.poke 2
pop temp 0
push constant 8003
push constant 0
call Memory.poke 2
pop temp 0
push constant 8004
push constant 1
call Memory.poke 2
pop temp 0
push constant 8005
push constant 0
call Memory.poke 2
pop temp 0
push constant 8006
push constant 1
call Memory.poke 2
pop temp 0
push constant 8007
push constant 0
call Memory.poke 2
pop temp 0
push constant 8008
push constant 1
call Memory.poke 2
pop temp 0
push constant 8009
push constant 1
call Memory.poke 2
pop temp 0
push constant 8010
push constant 1
call Memory.poke 2
pop temp 0
push constant 8011
push constant 0
call Memory.poke 2
pop temp 0
push constant 8012
push constant 1
call Memory.poke 2
pop temp 0
push constant 8013
push constant 1
call Memory.poke 2
pop temp 0
push constant 8014
push constant 0
call Memory.poke 2
pop temp 0
push constant 8015
push constant 1
call Memory.poke 2
pop temp 0
push constant 8016
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
